*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&family=Cairo:wght@200&family=Changa:wght@500;600&family=Katibeh&family=Tajawal:wght@500&display=swap');

/* الصفحة الرئيسية */


/* القسم الاول */
.sec1{
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: row;
    justify-content:space-around ;
    align-items: center;
}
.sec1 img{
    width: 80%; 
}
.sec1 hgroup{
    text-align: center;
    margin: 0px 10% 0px 0px;
    transition: 0.5s;
}

.sec1 hgroup h1{
font-size: 90px;
font-family: 'Aref Ruqaa', serif;
}
/* القسم الثاني */
.sec2{
    width: 100%;
    height: 820px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: start;
    transition: 0.5s;
}
.dsec2{
    width: 90%;
    height: 800px;
    background-color: #15133C;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    gap: 25px;
}
.cards{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90%;
    gap: 10px;
}
.cardsA{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    gap: 10px;
}
.cardsA-li{
    display: flex;
    flex-direction: column;
    width: 20%;
    gap: 10px;
}
.cardsB{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    gap: 10px;;
}
.card{
    background-color: #73777B;
    border-radius: 30px;
}
.card1{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.card1 img{
    height: 70%;
    margin: 10px 0px 0px 0px;
}
.card1 h2{
    text-align: center;
}
.card1 p{
text-align: center;
width: 90%;
}
.card2{
    width: 50%;
    height: 100%;
}
.card3{
    width: 100%;
    height: 100%;
}
.card4{
    width: 100%;
    height: 100%;
}
.card5{
    width: 100%;
    height: 100%;
}
.card6{
    width: 20%;
    height: 100%;
}
/* body{background-color: #201d55;} */